---
import { footer } from "../constants/content";
---
<footer class="px-screen-x py-lg">
  <div class="mx-auto max-w-6xl border-t border-text-tertiary/20 pt-md text-caption text-text-secondary flex flex-col gap-sm sm:flex-row sm:items-center sm:justify-between">
    <span>{footer.brand}</span>
    <span>{footer.note}</span>
  </div>
</footer>
